{% extends "base.html" %} {% block title %}Health Blogs - HealthPal{% endblock
%} {% block content %}
<h1>HealthPal Blogs</h1>
<section class="blog-list">
  <article
    class="blog-post"
    style="
      background-image: url('https://plus.unsplash.com/premium_photo-1679938885972-180ed418f466?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    "
  >
    <h2>5 Tips for a Healthier Lifestyle</h2>
    <p>
      Maintaining a healthy lifestyle can be simple with these five easy
      steps...
    </p>
    <a
      href="https://www.healthline.com/health/how-to-maintain-a-healthy-lifestyle"
      >Read More</a
    >
  </article>

  <article
    class="blog-post"
    style="
      background-image: url('https://plus.unsplash.com/premium_photo-1672292536199-7a4cf2b78318?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    "
  >
    <h2>The Importance of Mental Health</h2>
    <p>Mental health is just as important as physical health. Here's why...</p>
    <a
      href="https://www.conceptmedical.com/blog/mental-health-is-just-as-important-as-physical-health/"
      >Read More</a
    >
  </article>

  <article
    class="blog-post"
    style="
      background-image: url('https://plus.unsplash.com/premium_photo-1661779054933-3b929260ec41?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    "
  >
    <h2>How Sleep Affects Your Overall Well-being</h2>
    <p>Quality sleep plays a crucial role in maintaining good health...</p>
    <a
      href="https://www.mentalhealth.org.uk/explore-mental-health/publications/sleep-matters-impact-sleep-health-and-wellbeing"
      >Read More</a
    >
  </article>
</section>
{% endblock %}
